[Unit]
Description=Trading Dashboard via Gunicorn
After=network.target

[Service]
User=x
WorkingDirectory=/home/x/bot
ExecStart=/home/x/bot/venv/bin/gunicorn --timeout 120 -w 2 -b 127.0.0.1:5000 bot:app
Restart=always

[Install]
WantedBy=multi-user.target

